[Desktop Entry]
Version=1.0
Name=ccc
Comment=ccc P2P Cryptocurrency
Exec=ccc-qt %u
Terminal=false
Type=Application
Icon=ccc128
MimeType=x-scheme-handler/ccc;
Categories=Office;Finance;
StartupWMClass=ccc-qt
Name[en_IN]=ccc-qt.desktop
