# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=CCC_Coin
Comment=CCC_Coin QT main network
GenericName=CCC_Coin Digital Currency QT client main network
Exec=ccc_coin-core.qt %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/ccc_coin.png
MimeType=x-scheme-handler/ccc_coin;
Categories=X-Office;X-Finance;
Keywords=internet;ccc_coin;zccc;ccc;core;wallet;qt;main;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
Name[en_IN]=ccc-qt.desktop
