# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=CCC_Coin
Comment=CCC_Coin QT test network
GenericName=CCC_Coin Digital Currency QT client testnet network
Exec=ccc_coin-core.qt-testnet %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/ccc_coin_testnet.png
MimeType=x-scheme-handler/ccc;
Categories=X-Office;X-Finance;
Keywords=internet;ccc_coin;zccc;tccc;core;wallet;qt;testnet;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
Name[en_IN]=ccc-qt_testnet.desktop
